body{
    font-family: Helvetica, Arial, Sans-Serif;
    margin: 0;
}

.header,
.presentation{
    background-color: #1F2937; 
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
    padding: 2% 15%;
}

.header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .link-text{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

/* presentation */
.presentation{
    padding: 6% 15%;
}
.presentation-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 60%;
    height: 250px;
}

.presentation-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.presentation-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    width: 60%
}

.presentation-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    width: 60%
}

.presentation-button{
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 1% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    width: 12%;
}

/* information */

.information{
    text-align: center;
    padding: 0 24% 6%;
    color: #1F2937;
    
}

.information-title{
    padding: 3% 0%;
    font-weight: bolder;
    font-size: 36px;
    
}

.information-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    gap: 7%;
}

.placeholder-img{
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    margin-bottom: 6%;
    height: 150px;
}

/* testimonial */

.testimonial{
    background-color: #E5E7EB;
    padding: 6% 24% 4.5%;
}

.quote{
    text-align: justify;
    color: #1F2937;
    font-size: 36px;
    font-style: italic; 
}

.author{
    padding: 2% 0%;
    display: flex;
    justify-content: end;
    font-weight: bolder;
    font-size: 20px;
}

/* CTA */
.call-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 15%;
}

.blue-container{
    border-radius: 5px;
    background-color: #3882F6;
    width: 100%;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8
}

.blue-container-left-title{
    font-weight: bold;
    font-size: 24px;

}

.blue-container-button{
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 8px;
    border-width: 2px;
    font-weight: bold;
    padding: 0 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
}

/* footer */

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 14px;
    padding: 1.5%;
}

